*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Arial, Tahoma, Serif;
}

#header {
  align-content: left;
}

body {
  padding: 10px;
  justify-content: center; 
  height: 100%;
  width: 100%;
  /* align-items: center; */
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-right {
  display: inline;
}

#scoresList {
  margin-left: 40px;
}

.nav-link {
  align-items: left;
  padding: 0;
  margin: 0;
}

#userName {
  margin-bottom: 20px; 
}

.col {
  margin-bottom: 20px;
}

.btn-grid {
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 0 10px;
  display: grid;
  width: 300px;
}

.btn {
  background-color: mediumaquamarine;
  text-align: left;
  width: auto;
}

.start-btn {
  margin: 20px 10px;
  }


table, th, td {
  padding: 5px 15px;
  text-align: left;
  border: 1px solid black; 
}

@media (max-width: 575) {
  .btn-grid {
    font-size: smaller;
    width: auto;
  };
  
  .wrapper {
    margin-top: 10px;
    margin-left: 0px;
    padding: 10px;
    width: 100%;
    height: auto;
  }

  #home,
  #questions,
  #results {
    margin: auto;
    font-size: smaller;
    width: 80%;
  }
}

.btn:hover {
  cursor: pointer;
  background-color: rosybrown;
}
