*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Arial, Tahoma, Serif;
}

body {
  padding: 10px;
  /* justify-content: center; */
  height: 100%;
  width: 100%;
  align-items: center;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-right {
  display: inline;
}

.nav-link {
  align-items: left;
  padding: 0;
  margin: 0;
}

.container-fluid {
  width: auto;
  align-items: center;
}

#userName {
  margin-bottom: 20px; 
}

#answer.btn-grid {
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 0 10px;
  display: grid;
  width: auto;
}

.btn {
  background-color: mediumaquamarine;
  text-align: left;
}

.start-btn {
  margin: 20px 10px;
  }

@media (max-width: 575) {
  .btn-grid {
    font-size: smaller;
    width: auto;
  };
  
  .wrapper {
    margin-top: 10px;
    margin-left: 0px;
    padding: 10px;
    width: 100%;
    height: auto;
  }

  #home,
  #questions,
  #results {
    margin: auto;
    font-size: smaller;
    width: 80%;
  }
}

.btn:hover {
  cursor: pointer;
  background-color: rosybrown;
}